@import "tailwindcss";
@import "./themes.css";
body {
  @apply p-4;
  background-color: var(--color-contrast);
}
button {
  cursor: pointer;
}
/* LIGHT THEME */
@theme {
  --color-default: oklch(0% 0 0);
  --color-contrast: oklch(100% 0 0);

  --color-primary: oklch(0% 0 0);
  --color-secondary: oklch(78.75% 0.085 326.35);
}
[data-theme="light"] {
  --color-default: oklch(0% 0 0);
  --color-contrast: oklch(100% 0 0);
}
/* DARK THEME */
[data-theme="dark"] {
  --color-default: oklch(87.5% 0 0);
  --color-contrast: oklch(15% 0 0);
}
