@import "tailwindcss";
@import "./themes.css";
body {
  @apply p-4;
}
button {
  cursor: pointer;
}
/* LIGHT THEME */
@theme {
  --color-default: oklch(0% 0 0);
  --color-contrast: oklch(100% 0 0);

  --color-primary: oklch(0% 0 0);
  --color-secondary: oklch(78.75% 0.085 326.35);
}
[data-theme="light"] {
  --color-default: oklch(0% 0 0);
  --color-contrast: oklch(100% 0 0);
}
@media (prefers-color-scheme: light) {
  body {
    background-color: var(--color-contrast);
  }
}
/* DARK THEME */
[data-theme="dark"] {
  --color-default: oklch(87.5% 0 0);
  --color-contrast: oklch(15% 0 0);
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-default: oklch(87.5% 0 0);
    --color-contrast: oklch(15% 0 0);
  }
  body {
    background-color: var(--color-contrast);
  }
}
/* Default Icon Color */
[data-icon-color] {
  color: var(--color-default);
}